body{
color: ivory;
            text-align: center;
            font-size: 150%;
            background-image: url('https://media1.giphy.com/media/1lRrsraIsEYRW/giphy.gif');
            background-repeat: no-repeat;
            background-size: 150%;
            background-color: forestgreen;
        }
